<!DOCTYPE html>
<html>
<head>
  <title>Chat System</title>
</head>

<body>

<h2>Chat</h2>

<input id="receiver" placeholder="Receiver ID">
<br><br>

<input id="msg" placeholder="Message">
<button onclick="send()">Send</button>

<div id="chatBox"></div>

<script>
function send() {
    fetch("/chat/send", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({
            receiver_id: document.getElementById("receiver").value,
            message: document.getElementById("msg").value
        })
    }).then(() => loadChat());
}

function loadChat() {
    let id = document.getElementById("receiver").value;

    fetch("/chat/" + id)
    .then(res => res.json())
    .then(data => {
        let box = document.getElementById("chatBox");
        box.innerHTML = "";

        data.forEach(m => {
            box.innerHTML += `<p><b>${m.from}:</b> ${m.msg}</p>`;
        });
    });
}
</script>

</body>
</html>
